CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.out
*.exe
build/*
!build/Run.sh
!build/CMakeLists.txt
UnitTests/build/*
!UnitTests/build/Run.sh